<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>stock</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <ul class="nav justify-content-end">
        
        <li class="nav-item">
          <a class="nav-link" href="/products/">sell</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">stock</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/account/2" id="account-link">account</a>
        </li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-8 d-flex flex-column" style="height: 100vh;">
                <h1 class="text-center my-4">Stock</h1>
                <input type="text" class="form-control mb-3" id="productSearch" placeholder="Search products..." onkeyup="filterProducts()">
                <div class="overflow-auto border rounded p-3 bg-light flex-grow-1">
                    <ul class="list-group" id="productList">
                        <li class="list-group-item" th:each="item : ${stock}">
                            <p><span th:text="${item.name}" class="product-name"></span> ID: <span th:attr="data-product-id=${item.productId}" th:text="${item.productId}"></span></p>
                            <p>Quantity: <span th:text="${item.quantity}"></span> Price: <span th:text="${item.price}"></span></p>
                            <p>Details: <span th:text="${item.details}"></span></p>
                            <button type="button" class="btn btn-primary edit-product-btn" data-bs-toggle="modal" data-bs-target="#updateProductScreen" th:attr="data-product-id=${item.productId}">edit product</button>
                            <!-- <button type="button" class="btn btn-primary" th:attr="data-product-id=${item.productId}">add stock</button> -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                  add stock
                                </button>
                                <ul class="dropdown-menu">
                                  <li><div class="form-floating mb-3">
                                    <input type="number" class="form-control" th:attr="id='quantity-' + ${item.productId}" placeholder="Quantity">
                                    <label for="floatingInput">Quantity</label>
                                </div>
                                  </li>
                                  <li><a class="dropdown-item" th:attr="data-product-id=${item.productId}, data-quantity-id='quantity-' + ${item.productId}" onclick="addStock(this.getAttribute('data-product-id'),this.getAttribute('data-quantity-id'))">ADD</a></li>
                                </ul>
                              </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newProductScreen">add new product</button>
                


                <div class="modal fade" id="newProductScreen" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">add a new product</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="name" placeholder="name">
                                        <label for="floatingInput">name</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="price" placeholder="price">
                                        <label for="floatingInput">price</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="quantity" placeholder="quantity">
                                        <label for="floatingInput">quantity</label>
                                    </div>
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="details" id="details"></textarea>
                                        <label for="floatingTextarea">details</label>
                                      </div>
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="barcode" placeholder="barcode">
                                        <label for="floatingInput">barcode</label>
                                    </div>

                                      

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-bs-target="#changeScreen"
                                        data-bs-toggle="modal" onclick="newProduct()">done</button>

                                    <!-- <button type="button" class="btn btn-primary" id="complete-sale-btn">
                                        Complete Sale
                                    </button> -->
                                </div>
                            </div>
                        </div>
                </div>

            </div>

            <div class="modal fade" id="updateProductScreen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">update a product</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="newName" placeholder="new name">
                                <label for="floatingInput">newName</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="newPrice" placeholder="new price">
                                <label for="floatingInput">newPrice</label>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="new Details" id="newDetails"></textarea>
                                <label for="floatingTextarea">newDetails</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="newBarcode" placeholder="new barcode">
                                <label for="floatingInput">newBarcode</label>
                            </div>
                            <input type="hidden" id="identifier">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="updateProduct()">done</button>
                        </div>
                    </div>
                </div>
            </div>

    <script src="/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>